/* SASS GOES HERE */
body{
    font-family:sans-serif;

}

/*Navigation css start*/
nav{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}

nav ul li{

    float: left;
   
     
}

nav ul li a{
                   
    font-size: 12px;
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    text-transform: uppercase;
    padding-bottom: 18px;
    padding-top: 18px;
}

a:hover{
    text-decoration: none;
}

.active{
    background-color: #e7e7e7;
}

nav .navbar-toggle{
    background-color: white;
    color: #777;
}
/*Navigation css end*/

